main {
    background-color: #c6cfd6;
    box-sizing: border-box;
    /* padding: 10px; */
    width: 1000px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.cont {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 5px;
}

.cont:hover {
    background-color: antiquewhite;
    cursor: pointer;
}

.mainCont {
    display: flex;
    height: calc(100vh - 100px);
    width: 100%;
    box-sizing: border-box;
}

.sidebar {
    background-color: #494c5a;
    padding: 20px;
    height: 100%;
    box-sizing: border-box;
    width: 200px;
}

.sidebarCont {
    font-size: 20px;
    display: flex;
    color: #000;
    width: 100%;
}

.sidebarCont > a {
    padding: 20px;
    color: #000;
    text-decoration: none;
}
/* 
.sidebarCont > a:hover {
    background-color: #40434f;
} */

.sidebarCont:hover {
    transform: translateY(-5px);
    background-color: #40434f;
}
