.Button {
    border: 1px solid black;
    padding: 5px;
}

.Button:hover {
    background-color: rgb(187, 187, 187);
    cursor: pointer;
}

#ButtCont {
    height: 100vh;
    overflow: auto;
}

.multiline {
    white-space: pre-wrap;
}

#movieCont > img {
    width: 200px;
}

.screen {
    border: 4px solid black;
    margin: 15px;
}
