.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* width: 1000px; */
    background-color: rgb(173, 175, 175);
    padding: 10px;
    height: 70px;
    box-sizing: border-box;
}
