.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* width: 1000px; */
    background-color: #6e7387;
    padding: 10px;
    height: 100px;
    box-sizing: border-box;
}

#logo {
    height: 100%;
}

.headerCont {
    font-size: 20px;
    display: flex;
    color: #000;
}

.headerCont > a {
    padding: 20px;
    color: #000;
    text-decoration: none;
}

.headerCont > a:hover {
    background-color: #65697b;
    transform: translateY(-5px);
}
