.roomButton {
    border: 1px solid black;
    padding: 5px;
}

.roomButton:hover {
    background-color: rgb(187, 187, 187);
    cursor: pointer;
}

#roomButtCont {
    height: 100vh;
    overflow: auto;
}
