.roomRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.seatItem {
    /* padding: px; */
    margin: 2px;
    width: 35px;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seatItem:hover {
    cursor: pointer;
}

.rowLabel {
    width: 60px;
    height: 25px;
}

.seat {
    background-color: rgb(113, 224, 113);
}
.vip {
    background-color: rgb(133, 89, 133);
}
.empty {
    background-color: rgb(141, 140, 140);
}
.hidden {
    visibility: hidden;
}
.seatItem.selected {
    background-color: brown;
}
.reserved {
    background-color: rgb(56, 56, 56);
}
